<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="four_wheel_robot">

    <!-- 包含所有模块 Include all modules -->
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/base.urdf.xacro"/>
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/sensor/laser.urdf.xacro"/>
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/sensor/camera.urdf.xacro"/>
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/sensor/imu.urdf.xacro"/>
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/ros2_control.urdf.xacro"/>

    <!-- 实例化所有传感器 Instantiate all sensors -->
    <xacro:lidar_sensor parent="base_link"/>
    <xacro:camera_sensor parent="base_link"/>
    <xacro:imu_sensor parent="base_link"/>

    <!-- Gazebo 材料属性 -->
    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>
    
    <gazebo reference="front_left_wheel">
        <material>Gazebo/Black</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
    </gazebo>
    
    <gazebo reference="front_right_wheel">
        <material>Gazebo/Black</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
    </gazebo>
    
    <gazebo reference="rear_left_wheel">
        <material>Gazebo/Black</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
    </gazebo>
    
    <gazebo reference="rear_right_wheel">
        <material>Gazebo/Black</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
    </gazebo>

</robot>